.App {
  margin: 2rem;
  /* margin-top: 5rem; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  /* display: grid; */
  /* width: 1450px; */
  /* grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-row-gap: 0;
  grid-column-gap: 0;
  grid-auto-flow: column; */
  /* grid-auto-columns: 200px; */
}

.Stickey {

  position: static;
}

.Products {
  width: 1200px;
  /* overflow: hidden; */
}